*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
position: relative;

    width: 100%;
  height: 940px;
  background:linear-gradient(rgba(0, 0, 0, 0.479),rgba(0, 0, 0, 0.048)) ,url(3496226.jpg);
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  
  

}

.header{
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color:#303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 115px;



}

.fa-magnifying-glass{

    font-size: 30px;
    color: aliceblue;
}

.logodiv img{
    width: 80%;
    height: 80%;
}

.menu ul{

    display: flex;
    color: aliceblue;
}

.menu ul li{

    list-style-type: none;
    padding-right:  45px;

    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

.contentbox{

    position: absolute;
    bottom: 11%;
    left: 115px;
    width: 40%;
}

.contentbox h1{

    font-size: 130px;
    color: aliceblue;
    font-family: 'Fjalla One', sans-serif;
}

.contentbox p{
  font-weight: lighter;
    font-size: 35px;
    color: aliceblue;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    line-height: 50px;
    margin-top: 10px;
}

.btn{
    padding: 17px 90px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    background-color: #e8631c;
    border: none;
    border-radius: 3px;
    margin-top: 50px;
    
}
/* ++++++++++ dance tour start ++++++++++ */

#dancettour{
    margin-top: 0px;

    background-color: #e8631c;
    position: relative;
    z-index: -2;



}
.back{
    z-index: -1;
    position: absolute;
    transform:rotate(0deg) ;
    -webkit-transform:rotate(0deg) ;
    -moz-transform:rotate(0deg) ;
    -ms-transform:rotate(0deg) ;
    -o-transform:rotate(0deg) ;

    margin-top: -470px;
    margin-left: 0px;
}

.textsection{
    width: 50%;
    margin: auto;
    padding: 70px 0px;
    

}

.textsection h1{

    font-size: 90px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: aliceblue;
    padding-bottom: 50px;
}

.textsection p{
   
    font-family: 'Fjalla One', sans-serif;
    color: aliceblue;
    
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 35px;
}

.cardesection{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    padding: 0px 115px;
    padding-bottom: 80px ;
   

}


.card{

    flex-basis: 30%;
    background-color: rgb(87, 52, 6);
    text-align: center;
}

.cardimg img{
  width: 100%;
 height: 100%;
}

.cardimg{

    height: 100%;
    width: 100%;
}



.imgcont{
    margin-top: -10px;
    padding: 60px 50px;
    background-color: #303030;
}

.imgcont h3{
  font-size: 30px;
    color: aliceblue;
    font-family: 'Fjalla One', sans-serif;
    font-weight: lighter;
}

.imgcont p{

    color: aliceblue;
    font-family: 'Fjalla One', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 25px;
    padding: 0px 50px;
    padding-top: 10px;
}
/* 

+++++++++  pricing start here  +++++++ */

#pricing{

    background-color: #303030;
    position: relative;
    z-index: -5;
}

.containerdiv{

    position: relative;
    z-index: -4;
}


.condiv{

    width: 60%;
    margin: auto;
    text-align: center;
    padding: 90px 0px;
}

.condiv h1{

    font-size:90px ;
color: aliceblue;
font-family: 'Fjalla One', sans-serif;
}

.condiv p{

    font-family: 'Fjalla One', sans-serif;
    color: aliceblue;
    
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 35px;
}

.pricingdiv{
    width: 60%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;

}

.cards{
    flex-basis: 30%;
    background-color: #e8631c;
    text-align: center;
    padding: 30px 30px;
    border-radius:5px;
    
}

.icon{

    padding-bottom: 40px ;
    padding-top: 20px;
    width: 40%;
    height: 40%;


}

.cards h3{

    font-family: 'Fjalla One', sans-serif;
    color: aliceblue;
    
    font-size: 20px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}

.cards p{

    font-family: 'Fjalla One', sans-serif;
    color: aliceblue;
    
    font-size: 15px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    padding-bottom: 20px;
}

.cards h5{
    background-color: #303030;
    width: 100%;
    padding-top: 20px ;
    padding-bottom: 10px;
    margin: auto;
    color: aliceblue;
    border-radius:3px ;
   
}

.shape1{
    position: absolute;
    top:-400px;
    z-index: -3;
}

.shape2{
position: absolute;
    bottom: -550px;
    right: 0px;
    z-index: -3;
}

/* ++++++++++ AMAIZING STARET HERE +++++++++ */

#amaizing{

    width: 100%;
    z-index: -7;
    position: relative;
}

.amaizingdid{

    width: 100%;
  
}

.amaizingdid{

    display: flex;

}

.pic{
    flex-basis: 50%;
    
    
}

.pic img{
 height: 100%;
 width: 100%;

    
}

.contenttt{

    flex-basis: 50%;
}

.contenttt{

    background-color: #e8631c;
    
}

.contenttt h1{

    font-size: 80px;
    font-family: 'Fjalla One', sans-serif;
    color: aliceblue;
}

.contenttt p{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(209, 209, 209);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 50px 0px;

}

.contenttt{
position: relative;
display: flex;
justify-content: center;
flex-direction: column;
align-items: flex-start;
padding: 0px 100px;
z-index: -8;
}
.btn2{
    width: 35%;
    padding: 20px 0px;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    background-color: #303030;
    border: none;
    color: aliceblue;
}

.bestdiv{

    display: flex;
}
.shape1s{
    position: absolute;
    margin-top: 1000px;
    right: 0px;
    z-index: -9;
}

.shape2s{
position: absolute;
    left: 0px;
    margin-top: 1100px;
}

/* ++++++++ our statisstis start ++++++++++  */

#statistic{

    background-color: #303030;

}

.conTSEC{

    width: 60%;
    margin: auto;
    text-align: center;
}

.conTSEC h1{
    font-size:80px ;
    color: aliceblue;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 160px;

}

.conTSEC p{

    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(177, 177, 177);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 30px 0px;
    font-weight: lighter;

}

.numbdiv{

    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 0px;
    padding-bottom: 200px;
}

.div1{
  flex-basis: 30%;
    background-color: #e8631c00;
    text-align: center;
}

.div1 h1{
    font-size:70px ;
    color: aliceblue;
    font-family: 'Fjalla One', sans-serif;
   

}

.div1 p{
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(177, 177, 177);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 0px 0px;
    font-weight: lighter;
}


/* +++++++++ overlay start here ++++++++ */


#overlay{
    
    width: 100%;
    height: 1090px;
    position:relative;
    background: linear-gradient( #ff550056,#f7520088);
    

}



.overlay{
     
   width: 100%;
   height: 1090px;
   position:absolute;
   top: 0;

   
}

#overlay img{
height: 100%;
width: 100%;
z-index: -13;
position: absolute;
}

.connn {

    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
;
}

.conin p{
    font-size: 35px;

    color: rgb(255, 255, 255);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 0px 0px;
    font-weight: lighter;
    padding: 0px 500px;
    padding-bottom: 70px;
    font-family: 'Fjalla One', sans-serif;
}

.conin h1
{
    font-size:70px ;
    color: aliceblue;
 

}
 /* +++++++++ email section +++++++++ */


 #footer{

    background-color: #303030;
 }

 .email{

    background-color: #e8631c;
    overflow:hidden ;
   
    position: relative;
    padding: 90px 0px;
 }


.container2{


    padding: 90px;
    width: 80%;
    margin: auto;
}

.uppart h1{

    font-size: 80px;
    text-align: center;
    color: rgb(248, 248, 248);

}

.uppart p{

    color: rgb(248, 248, 248);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 0px 0px;
    font-weight: lighter;
    padding: 0px 00px;
    padding-bottom: 70px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 0px 200px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.downpart{

    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
#email{

    flex-basis: 70%;
    padding: 15px 0px;
    padding-left: 30px;
    background-color: aliceblue;
    border: none;
    position: relative;
   }
#subbtn{

    flex-basis: 30%;
    background-color: black;
    color: aliceblue;
    border: none;
}

.ss1{
    position: absolute;
    margin-top: -500px;
}

.ss2{
    position: absolute;
    right: 0px;
    margin-top: -300px;
}

/* ++++++++ footer start here ++++++++++++ */

.container{

    display: flex;
    padding: 100px 50px;
}

.info h3{
    font-size: 40px;
    text-align: left;
    color: rgb(248, 248, 248);
    font-family: 'Fjalla One', sans-serif;

}

.left{

    flex-basis: 50%;
    background-color: rgba(37, 21, 0, 0);
}

.para{
    color: rgb(255, 255, 255);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
   
    font-weight: lighter;

   padding: 30px 0px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    text-align: left;
    padding-right: 350px;
   
   

}


.right{
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #e8631c00;
}

.fa-instagram{
    background-color: aliceblue;
    font-size: 25px;
    padding: 10px;
    border-radius: 80px;
    margin-right: 10px;
   
}
   
.fa-facebook{
    background-color: aliceblue;
    font-size: 25px;
    padding: 10px;
    border-radius: 80px;
    margin-right: 10px;


}
.fa-twitter{

    background-color: aliceblue;
    font-size: 20px;
    padding: 10px;
    border-radius: 80px;
    margin-right: 10px;
   

}
.fa-whatsapp{
    background-color: aliceblue;
    font-size: 25px;
    padding: 10px;
    border-radius: 80px;
    margin-right: 10px;
   

}
.cmn{
    font-size: 40px;
    text-align: left;
    color: rgb(248, 248, 248);
    font-family: 'Fjalla One', sans-serif;
    padding-bottom: 70px;

}

.about p{
    color: rgb(255, 255, 255);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
   
    font-weight: lighter;

   padding: 3px 0px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    text-align: left;
}

.service p{

    color: rgb(255, 255, 255);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
   
    font-weight: lighter;

   padding: 3px 0px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    text-align: left;
}

.other p{

    color: rgb(255, 255, 255);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
   
    font-weight: lighter;

   padding: 3px 0px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    text-align: left;

}




